<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/Animals"
              type="javax.sql.DataSource"
              maxTotal="100"
              maxIdle="30"
              maxWaitMillis="10000"
              initialSize="1"
              username="root"
              password="123456"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/animal%20system?useSSL=false&amp;serveTimezone=UTC" />
</Context>