/*.navbar {*/
/*    background-color: #f8bbd0; !* 深棕色背景 *!*/
/*    border-radius: 0; !* 取消圆角 *!*/
/*    border: none; !* 取消边框 *!*/
/*    width: 100vw;*/
/*}*/

/*头部格式*/
.header {
     background-color: #dab706;
     width: 100%;
     margin: 0;
     padding: 0;
    text-align: center;
    box-shadow:#000 7px 4px 10px;
    /*border:2px #0f0f0f solid;*/
    border-top-left-radius: 20px;
    /*border-top-right-radius: 10%;*/
 }

.navbar-default {
    background-color: transparent;
    border: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav > li {
    display: flex;
    align-items: center;
}
.navbar-nav > li > a {
    font-size: 18px;
    padding: 15px 20px;
}

/*搜索、导航格式*/
.search-box {
    margin-top: 8px;
}

/*搜索框*/
.search-box .form-control {
    width: 200px;
    display: inline-block;
}

/*提交按钮*/
.search-box .btn {
    margin-left: -5px;
}

.navbar-brand {
    font-weight: bold;
}

/*中间内容格式*/
.banner{
    position: relative;
    height: 700px;
    background-color: #fcf8e3;
    overflow: hidden;

}
.banner .carousel{
    list-style-type: none;
}

 img{
    width: 1300px;
    height: 650px;
}
/*.banner{*/
/*    position: absolute;*/
/*    border-bottom: 37px;*/
/*    top: 17px;*/
/*    width: 240px;*/
/*    height: 600px;*/
/*    background-color: rgba(250, 248, 248, 0.42);*/
/*}*/





/*头部*/
/*脚部格式*/
/*.footer{*/
/*    background-color: #fcf8e3;*/
/*    height: 60px;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/
/*搜索框*/
section.footer-w3 h3 {
    font-size: 26px;
    color: #151515;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

section.footer-w3 p.footer-p1 {
    font-size: 14px;
    color: #171616;
}

section.footer-w3 button.btn.btn-outline.btn-lg {
    width: 30%;
    float: left;
    height: 40px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #ea3c56;
    border: 1px solid #ea3c56;
    color: #121111;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}

section.footer-w3 button.btn.btn-outline.btn-lg:hover {
    background-color: #3ba2c1;
    color: #fff;
    border-color: #3ba2c1;
}

section.footer-w3 ul.tweet-agile li:nth-child(1) {
    padding-bottom: 30px;
}

section.footer-w3 ul.tweet-agile li i.fa.fa-twitter-square {
    font-size: 45px;
    color: #fff;
    display: inline-block;
}

section.footer-w3 ul.tweet-agile li p.tweet-p1 {
    font-size: 15px;
    font-weight: normal;
    margin: -48px 0 10px 44px;
    line-height: 30px;
    color: #fff;
}

section.footer-w3 ul.tweet-agile li p.tweet-p1 a {
    text-decoration: none;
    color: #00cdc1;
}

section.footer-w3 ul.tweet-agile li p.tweet-p1 a:hover {
    color: #fff;
}

section.footer-w3 ul.tweet-agile li p.tweet-p2 {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    color: #dcdcdc;
}

.agileinfo_footer_grid1 {
    float: left;
    width: 26.45%;
    margin: 0 .5em .7em 0;
}

.img-responsive{
    width: 160px;
    height: 100px;
}

.form-control{
    border: none;
    background: none;
    /*background-color: #eeeeee;*/
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.4s;
}
/*图片*/
.header-info{
    color: #635e5e;
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin-left: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.header-info:hover .form-control{
    width: 200px;
    padding: 0 12px;
}