/*.navbar {*/
/*    background-color: #f8bbd0; !* 深棕色背景 *!*/
/*    border-radius: 0; !* 取消圆角 *!*/
/*    border: none; !* 取消边框 *!*/
/*    width: 100vw;*/
/*}*/
.header {
     background-color: pink;
     width: 100%;
     margin: 0;
     padding: 0;
 }
.navbar-default {
    background-color: transparent;
    border: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav > li {
    display: flex;
    align-items: center;
}
.navbar-nav > li > a {
    font-size: 18px;
    padding: 15px 20px;
}
glyphicon glyphicon-search {
    float: right;
}